// color
$color-font: #444;
$color-primary: #024668;
$color-secondary: #009CD7;
$color-third: #60B9BD;
$color-orange: rgb(246,153,19);
$color-danger: #ff0000;
$color-border: #cacaca;

$height-top-menu: 9rem;

$border-radius: 10px;
$border-radius-point: 30px;

$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";


html{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper{
    min-height: 100vh;
}
.main-container{
    margin-top: $height-top-menu;
}
.banner{
	background: $color-third;
}
.color-text-title{
    color: $color-primary;
}



.dflex{
    display: flex;
}
.dblock{
    display: block;
}
.justifyCenter{
    justify-content: center;
}
.alignCenter{
    align-items: center;
}
.mt-1{
	margin-top: 1rem
}

// reset css

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}