.article-thumbnail-container{
    background: #888;
    width: 100%;
    overflow: hidden;
    border-radius: $border-radius;
    position: relative;
    &.img-hero{
        height: 700px;
    }
    &.img-mini-banner{
        height: 350px;
    }

    img{
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        &.img-hero{
            height: 700px;
        }
        &.img-mini-banner{
            height: 350px;
        }
    }

    .info-free-bonus{
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
        border-radius: $border-radius-point;
        color: $color-primary;
        background: #fff;
        border: 1px solid #024668;
        font-size: 14px;
        margin: 8px;

        img{
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
    }

    .article-thumbnail-description{
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        padding: 40px;
        width: 85%;

        .category{
            border-radius: 8px;
            background: $color-orange;
            padding: 10px;
            color: #fff;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 600;
        }

        .title{
            background: #fff;
            color: $color-font;
            margin-top: 20px;
            text-transform: uppercase;
            font-size: 2rem;
            white-space: pre-wrap;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
            line-height: 3rem;
            padding: 0.75rem;
            
            
            &.small-hero{
                font-size: 1.5rem;
            }
        }
    }
}

.mini-banner-container{
    width: 100%;
    height: 350px;
    
    img{
        width: 100%;
        object-fit: cover;
        border-radius: $border-radius;
    }
}

.article-list-container{
    h2, h3{
        font-size: 1.5rem;
        color: $color-primary;
        margin-bottom: 0.5rem;
    }
    h3{
        text-transform: uppercase;
        a{
            text-decoration: none;
            color: $color-primary;
        }
        &.small{
            font-size: 1.2rem;
        }
    }
    .article-thumbnail-container{
        max-height: 200px !important;

        img{
            max-height: 200px !important;
        }
    }
    .article-list-footer{
        display: flex;
        text-transform: uppercase;
        font-size: 0.7rem;
        position: absolute;
        bottom: 0;
        
        .article-list-footer-category{
            background: $color-gold;
            width: 120px;
            text-align: center;
            border-radius: 30px;
            color: #fff;
            padding: 3px 0;
        }

        .article-list-footer-date{
            width: 120px;
            text-align: center;
            border-radius: 30px;
            border: 1px solid $color-primary;
            color: $color-primary;
            margin-left: 10px;
            padding: 3px 0;

            svg {
                margin-right: 3px;

                path{
                    color: $color-primary;
                }
            }
        }
    }

    > div > .row{
        margin-bottom: 3rem;
    }
}

.main-article-detail-container{
    flex-direction: column;

    .main-article-img{
        width: 100%;
        max-width: 1200px;
        img{
            width: 100%;
        }
    }
    .main-article-detail{
        width: 90%;
        max-width: 980px;

        .tag-item{
            background: #a9a9a9;
            padding: 6px 8px;
            margin-right: 5px;
            color: #fff;
            border-radius: 6px;
        }

        .category{
            background: $color-gold;
            padding: 5px 20px;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 400;
            color: #fff;
        }

        h2{
            font-size: 2rem;
            text-transform: uppercase;
            color: $color-primary;
            margin: 1rem 0;
        }

        h3{
            color: gray;
            font-weight: 200;
            font-size: 14px;
            margin-top: 5px;

            strong{
                font-weight: 400;
            }
        }

        p{
            color: $color-primary;
            font-size: 18px;
            line-height: 1.6;
            font-weight: 200;
            margin: 12px 0;
        }

        span{
            color: $color-primary;
        }

        svg path{
            color: gray;
        }
    }
    .main-article-tag{
        margin-top: 60px;
        
        h3{
            font-weight: 600;
            letter-spacing: 2px;
        }
    }
}

.related-article{
    margin-top: 3rem;

    .article-list-container{
        h2{
            font-size: 1rem !important;
            color: gray !important;
        }
        h3 a{
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}

.banner-consult{
    display: none;
    @media only screen and (min-width: $breakpoint-large) {
        display: block;
    }
}